/* ========================
    importing font and icons
======================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;900&display=swap');


/* ========================
    body and utilities
======================== */
:root{
    --primary-color:#E76F51;
}

body{
    font-family: 'Poppins', sans-serif;
}



/* ========================
    header area
======================== */

.header-area{
    background-color: #264653;
}
.header-main-heading{
    font-size: 48px;
}
.header-area p{
    color: #E0E0E0;
} 
.header-purchase-button{
    background-color: var(--primary-color);
    color: white;
    font-weight: 400;
}
.header-purchase-button:hover{
    color: white;
    background-color: #af4025;
}
/* ========================
    header area end
======================== */