/* ========================
    importing font
======================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;900&display=swap');


/* ========================
    body and utilities
======================== */
:root{
    --primary-color:#E76F51;
    --secondary-text-color: #23A6F0;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.primary-text-color{
    color: var(--primary-color);
}
.secondary-text-color{
    color: var(--secondary-text-color);
}


.castom-button{
    background-color: var(--primary-color);
    color: white;
    font-weight: 400;
}
.castom-button:hover{
    color: white;
    background-color: #af4025;
}

/* ========================
    header area
======================== */

.header-area{
    background-color: #264653;
}
.header-main-heading{
    font-size: 48px;
}
.header-area p{
    color: #E0E0E0;
} 

/* ========================
    header area end
======================== */

/* ========================
    featured bike area start
======================== */

.featured-bike-image{
    filter: grayscale(100%);
}
/* ========================
    featured bike area end
======================== */
